# Misc files
*.kf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT
*.gcda
*.rpo
/Release/

outputs/
app/visualizer/visualizer
app/rebvorun/rebvorun
app/kf_visualizer/kf_visualizer
