[submodule "thirdparty/libgd"]
	path = thirdparty/libgd
	url = https://github.com/libgd/libgd
[submodule "thirdparty/lapack"]
	path = thirdparty/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
[submodule "thirdparty/libav"]
	path = thirdparty/libav
	url = https://github.com/libav/libav.git
[submodule "thirdparty/TooN"]
	path = thirdparty/TooN
	url = https://github.com/edrosten/TooN.git
