<launch>
  <arg name="config_rviz"/>
  <arg name="bagfile"/>
  <arg name="visualize" default="true"/>

  <node pkg="rviz" type="rviz"
  	name="rviz_rovio"	clear_params="true" output="log" args="-d $(arg config_rviz)" required="true" if="$(eval visualize)"/>

  <node pkg="rosbag" type="play" name="rovio_rosbag" output="screen" required="true" args="--clock -d 5 $(arg bagfile)"/>

</launch>
